.row > * {
    padding: 0 !important;
}

img {
    height: 250px;
    width: 250px;
    overflow: hidden;
    object-fit: cover;
}

.card-img-top, .card-body {
    cursor: pointer;
}

p {
    margin-bottom: 0 !important;
}